@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #C9D6DF;
  --secondary: #A2ADB6;
  --accent: #8F979F;
  --neutral: #F8F9FA;
  --neutral-content: #333333;
  --border: #E2E5E7;
}

@layer base {
  body {
    @apply bg-neutral text-neutral-content;
  }
}
